# Database Configuration
DB_URL=

# Session Secret
SECRET=

# Mapbox Configuration
MAPBOX_TOKEN=

# Google Maps Configuration
GOOGLE_MAPS_BASE_URL=https://www.google.com/maps/search/?api=1

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=