*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	overflow-wrap: break-word;
}

html {
	font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
	scroll-behavior: smooth;
	scroll-padding-top: 8rem;

	@include respond(tab-land) {
		font-size: 56.25%; //1rem = 9px; 9px/16px = 56.25%
	}

	@include respond(tab-port) {
		font-size: 50%; //1rem = 8px; 8px/16px = 50%
	}

	@include respond(big-desktop) {
		font-size: 75%; //1rem = 12px; 12px/16px = 75%
	}
}

body {
	height: 100%;
	box-sizing: border-box;
	position: relative;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

::selection {
	background-color: darken($color-primary, 20%);
	color: $color-white;
	-webkit-text-fill-color: $color-white;
}

*:focus-visible {
	outline: 2px solid $color-secondary-light;
}

.base__main {
	padding-top: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
